.markdown {
  h1:first-child{
    margin-top: 0.5rem;
  }

  & > * {
    margin-bottom: 0.5rem;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 1.5em;
  }

  ul li:before{
    margin: 0 0.5rem;
    content: '-';
  }

  ol  {
    list-style: none;

    li {
      counter-increment: counter;

      &:before{
        content: counter(counter) '.';
        margin: 0 0.5rem;
      }
    }

  }

  & p > code {
    font-family: Menlo, Monaco, Consolas, monospace;
    color: $blue-light;
  }

  table {
    border: 0.2rem solid $black-dark;
    padding: 0.1rem;

    th, td {
      border: 0.1rem solid $black-dark;
      padding: 0.5rem;
    }

    th {
      font-weight: bold;
    }
  }

  a {
    color: $blue-light;
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;

    transition: text-shadow 0.5s ease;
    text-shadow: 0 0 rgba($pink, 0), 0 0 rgba($blue-dark, 0);

    &:hover {
      text-shadow: -0.1rem -0.1rem $pink, 0.1rem 0.1rem $blue-dark;
    }
  }

  blockquote {
    background-color: $black-dark;
    padding: 0.5rem;
    border-left: 0.2rem solid $blue-light;
  }

  strong {
    font-weight: bold;
  }

  .hljs {
    display: block;
    padding: 0.5em;
    overflow-y: auto;
    background-color: $black-dark;

    .hljs-subst {
      color: #444
    }

    .hljs-comment {
      color: #888
    }

    .hljs-attribute, .hljs-doctag, .hljs-keyword, .hljs-meta-keyword, .hljs-name, .hljs-selector-tag {
      font-weight: 700
    }

    .hljs-deletion, .hljs-number, .hljs-quote, .hljs-selector-class, .hljs-selector-id, .hljs-string, .hljs-template-tag, .hljs-type {
      color: #800
    }

    .hljs-section, .hljs-title {
      color: #800;
      font-weight: 700
    }

    .hljs-link, .hljs-regexp, .hljs-selector-attr, .hljs-selector-pseudo, .hljs-symbol, .hljs-template-variable, .hljs-variable {
      color: #bc6060
    }

    .hljs-literal {
      color: #78a960
    }

    .hljs-addition, .hljs-built_in, .hljs-bullet, .hljs-code {
    }

    .hljs-addition, .hljs-built_in, .hljs-bullet, .hljs-code {
      color: #397300
    }

    .hljs-meta {
      color: #1f7199
    }

    .hljs-meta-string {
      color: #4d99bf
    }

    .hljs-emphasis {
      font-style: italic
    }

    .hljs-strong {
      font-weight: 700
    }
  }
}