$black-dark: #1e272e;
$black-light: #353b48;

$grey-dark: #7f8c8d;
$grey-light: #95a5a6;

$white-dark: #bdc3c7;
$white-light: #ecf0f1;

$purple-dark: #8e44ad;
$purple-light: #9b59b6;

$blue-dark: #2980b9;
$blue-light: #3498db;

$green-dark: #27ae60;
$green-light: #2ecc71;

$yellow-dark: #f39c12;
$yellow-light: #f1c40f;

$orange-dark: #d35400;
$orange-light: #e67e22;

$red-dark: #c0392b;
$red-light: #e74c3c;
