/* CSS reset*/
html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-weight: normal;
  }
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }